doctype html
html.single-page(lang='en')
    head
        title Quoteables
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        link(rel="stylesheet" href="/static/stylesheets/styleB.css")
    body.bg-light.d-flex.flex-column.single-page.justify-content-between
        include includes/header
        .container.d-flex.flex-column.align-items-center.justify-content-center
            .card.quote-card
                img.card-img(src="../static/img/grid_03.jpg" alt="picture")
                .card-img-overlay.card-img-overlay-inspiration.d-flex.align-items-center.flex-column.bg-light
                    h3.card-title.font-italic "#{quote.body}"
                    p.card-text #{quote.source}
            if url == 'inspiration'
                div(class="btn-group mt-5" role="group")
                    a(href=`/${url}`).btn.btn-info.btn-secondary.my-auto.p-3.capitalize More #{url}
                    a(href='/').btn.btn-info.btn-secondary.my-auto.p-3 Home
                    a(href='/inspiration-all').btn.btn-info.btn-secondary.my-auto.p-3.capitalize View All
            else if url == 'advice' || 'kanye'
                div(class="btn-group mt-5" role="group")
                    a(href=`/${url}`).btn.btn-info.btn-secondary.my-auto.p-3.capitalize More #{url}
                    a(href='/').btn.btn-info.btn-secondary.my-auto.p-3 Home
        include includes/body-scripts
        include includes/footer