doctype html
html(lang='en')
    head
        title Quoteables
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        link(rel="stylesheet" href="/static/stylesheets/styleB.css")
    body.bg-light
        #modalDeleteQuote.modal.fade(tabindex='-1' role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header.mx-auto
                        h5.modal-title Delete Quote
                    .modal-body.mx-auto
                        p Are you sure you want to delete the selected quote?
                    .modal-footer.mx-auto
                        form(action="/inspiration-all/delete" method="post")
                            input#deleteQuoteId(type='hidden' name='id')
                            .btn-group
                                button.btn.btn-outline-danger.modal-delete-btn(type='submit') Confirm
                                button.btn.btn-danger.modal-close-btn(type='button', data-dismiss='modal') Cancel
        #modalEditQuote.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalEditQuoteTitle', aria-hidden='true')
            .modal-dialog.modal-dialog-centered.flex-column(role='document')
                .modal-content
                    .modal-header.mx-auto
                        h5.modal-title Edit Quote
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                    .modal-body.d-flex.flex-column
                        form.d-flex.flex-column(action="/inspiration-all" method="post")
                            .input-group
                                .input-group-prepend
                                    span(class="input-group-text") Body
                                textarea(class="form-control input-body" name="body" placeholder="Body of Quote" aria-label="Body text" value="body")
                            .input-group
                                .input-group-prepend
                                    span(class="input-group-text") Source
                                textarea(class="form-control input-source" name="source" placeholder="Author" aria-label="Source text")
                            input#submitQuoteId(type="hidden" name="id")
                            .btn-group.align-self-center
                                button.btn.btn-info.modal-submit-btn(type='submit') Save changes
                                button.btn.btn-danger.modal-close-btn(type='button', data-dismiss='modal') Close
        include includes/header
        .row
            .col.d-flex.flex-column.justify-content-start.align-items-center.pt-5.bg-light
                include includes/error
            .col.pt-5.bg-light
                .container.min-vh-100.d-flex.justify-content-start.flex-column
                    .d-flex.justify-content-center
                        form.pb-5.form-inline.my-2.my-lg-0(action="/inspiration-all-search" method="post")
                            input.form-control.mr-sm-2(type='search' name="source" placeholder='Search by author', aria-label='Search')
                            button.btn.btn-outline-info.my-2.my-sm-0(type='submit') Search
                        form(action="/inspiration-all" method="get")
                            button.btn.btn-outline-info.my-2.mx-1.my-sm-0 Reset
                    each quote in quotes
                        quote.yes.pt-3.mb-3
                            .row
                                .overlay
                                    .btn-group
                                        button(type="button" class="btn btn-info btn-edit" data-id=`${quote.dataValues.id}` data-toggle="modal" data-target="#modalEditQuote" data-body=`${quote.dataValues.body}` data-source=`${quote.dataValues.source}`) Edit
                                        button(type="button" class="btn btn-danger btn-delete" data-id=`${quote.dataValues.id}` data-toggle="modal" data-target="#modalDeleteQuote") Delete
                                .col.col-sm.text-center.user-select-none
                                    h4(class="quote") "#{quote.dataValues.body}"
                            .row
                                .col.col-sm.text-center.pt-5.user-select-none
                                    h4.source #{quote.dataValues.source}
                            hr
            .col.pt-5.bg-light.d-flex.justify-content-center
                form(action="/new" method="get")
                    button.btn.btn-success.my-2.mx-1.my-sm-0 Create New
        include includes/body-scripts
        include includes/footer